<div id="org_issues_card" class="animated flipInY stackable-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{title}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{description}}<br />
    {{#each issues}}
      <div class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content" style="font-size:0.85em">
          <span>{{truncate title 50}}</span><br />
          <span class="mdl-list__item-sub-title" style="font-size:0.66em">{{repository.name}}/{{number}} <span class="label {{featured_labels}}">{{featured_labels}}</span></span>
        </span>
        <span class="mdl-list__item-secondary-content">
          {{#if assignee}} 
            <img src="{{assignee.avatar_url}}" width="24px" class="mdl-list__item-avatar" />
          {{else}}
            <i class="material-icons mdl-list__item-avatar">person</i>
          {{/if}}
        </span>
      </div>
    {{/each}}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="{{action_url}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      {{action}}
    </a>
  </div>
</div>


